{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Students{% endblock meta_title %}
{% block title %}Students List{% endblock title %}

{% block content %}
<!-- Add Button -->
<a class="btn btn-info" href="{% url "students_add" %}">Add New Student</a>
<div>There will be a table of students</div>
	<!-- Start Student List -->
	<table class="table table-hover table-striped">
		{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
		<thead>
			<tr>
				<th>#</th>
				<th>
					<a href="{% url "home" %}?order_by=photo{% if order_by == 'photo' and reverse != '1' %}&amp;reverse=1{% endif %}">
					Photo
					{% if order_by == 'photo' and reverse != '1' %}&uarr;
					{% elif order_by == 'photo' and reverse == '1' %}&darr;
					{% endif %}
				</th>
				<th>
					<a href="{% url "home" %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Surname
					{% if order_by == 'last_name' and reverse != '1' %}&uarr;
					{% elif order_by == 'last_name' and reverse == '1' %}&darr;
					{% elif order_by == '' %}&uarr;
					{% endif %}
				</th>
				<th>
					<a href="{% url "home" %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Name
					{% if order_by == 'first_name' and reverse != '1' %}&uarr;
					{% elif order_by == 'first_name' and reverse == '1' %}&darr;
					{% endif %}
				</th>
				<th>
					<a href="{% url "home" %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Ticket #
					{% if order_by == 'ticket' and reverse != '1' %}&uarr;
					{% elif order_by == 'ticket' and reverse == '1' %}&darr;
					{% endif %}
				</th>
				<th>Actions</th>
			</tr>
		</thead>
		{% endwith %}
		<tbody>
			{% for student in students %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>
					{% if student.photo %}
						<img class="img-circle" src="{{ student.photo.url }}" height="30"	width="30" />
					{% else %}
						<img class="img-circle" src="{% static "img/default_user.png" %}" height="30" width="30" >
					{% endif %}
				</td>
				<td>
					<a title="Edit" href="{% url "students_edit" student.id %}">{{ student.last_name }}</a>
				</td>
				<td>
					<a title="Edit" href="{% url "students_edit" student.id %}">{{ student.first_name }}</a>
				</td>
				<td>{{ student.ticket }}</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							Action <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="dropdown">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="{% url "attendance_edit" student.id%} ">
									Attendance
								</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="{% url "students_edit" student.id %}">
									Edit
								</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="{% url "students_delete" student.id %}">
									Delete
								</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- End Student List -->
	{% include "include/pag.html" %}

{% endblock content %}